* {
    margin: 0px;
    src: url("Montserrat/Montserrat-VariableFont_wght.ttf") format('woff2');
    font-family: "Montserrat";
}

body {
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.text {
    text-align: center;
    margin-bottom: 20px;
}

.title {
    background-image: url(images/sign.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
}

.grid {
    margin: auto auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.line {
    height: 28%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.blur {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, .9);
    position: fixed;
    top: 0%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1000;
}

.blur button {
    position: fixed;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 40%;
    background-color: #3cff33;
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 32px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}

.win {
    color: black;
    font-size: 50px;
    position: fixed;
    background-color: #3cff33;
    border-radius: 15px;
    top: 20%;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 10px;
}

.button {
    padding: 10px;
    background-color: darkolivegreen;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
}

.button-win {
    padding: 10px;
    background-color: darkolivegreen;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    top: 50%;
}

.card {
    transition: transform 0.8s;
    transform-style: preserve-3d;
    height: 100px;
}

.card-return {
    transform: rotateY(0.5turn);
}
